* {
  box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* general classes */
.paragraph {
    color: #515151;
}

.paragraph__lead {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.3;
}

.list {
    list-style-type: square;
}

.list li {
    margin-bottom: 1em;
}
/* section.intro */
.intro {
    padding-top: 30px;
}

.intro .title {
    color: #000000;

    font-size: 6em;
    font-weight: 700;

    text-align: center;
    text-transform: uppercase;
}

.intro-container-1 {
    margin: 100px auto;
    max-width: 800px;
    text-align: left;
}

.intro-container-2 {
    margin: 100px auto;
    max-width: 500px;
    text-align: left;
}

.intro-container-2 ul {
    font-size: 1.3em;
    font-weight: 300;
}

